@import "tailwindcss";

@layer base {
  html,
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-300;
  }
  button {
    @apply cursor-pointer transition focus:outline-none;
  }
}
